<!--<a class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>-->
<nav class="bg-blue-200 shadow-lg">
  <div class="container mx-auto px-4 py-2 flex items-center justify-between">
    <a [routerLink]="['/']" class="flex items-center">
      <img src="https://weather-report-system-cdn.s3.us-east-2.amazonaws.com/logo.jpg" alt="Weather Report Logo" width="50" height="50" class="mr-2">
      <h1 class="text-2xl font-bold text-gray-800">WeatherApp</h1>
    </a>
    <ul class="flex space-x-4">
      <li><a href="#" class="text-gray-800 hover:text-gray-900">Home</a></li>
      <li><a href="#" class="text-gray-800 hover:text-gray-900">Reports</a></li>
      <li><a href="#" class="text-gray-800 hover:text-gray-900">About</a></li>
      <li><a href="#" class="text-gray-800 hover:text-gray-900">Contact</a></li>
    </ul>
  </div>
</nav>
<!--
<a [routerLink]="['/']">
  <img src="https://weather-report-system-cdn.s3.us-east-2.amazonaws.com/logo.jpg" alt="Weather Report Logo" width="50" height="50">
</a>-->
<!--Incorrect error displayed-->
<!--<h1 class="font-semibold text-slate-400 font-serif">Weather Report Finder</h1>-->
<!--<h1>Weather Report Finder</h1>-->
